*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;

    user-select: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

#toolbar{
    width: 1070px;
    height: 100px;
    padding: 10px;
    position: absolute;
    top: 520px;
    background-color: #4e4b48;
    color: rgb(209, 157, 157);
}

.tkcont{
    width: 30px;
    height: 30px;
    background-color: #291a1a;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

#save{
    left: 1000px;
    width: 70px;
    height: 30px;
    padding: 8px;
    top: 10px;
    position: absolute;
    background-color: #4e4b48;
    text-align: center;
}

#uploader{
    left: 1000px;
    width: 70px;
    height: 30px;
    padding: 8px;
    top: 40px;
    position: absolute;
    background-color: #33312e;
    text-align: center;
}

#eraser{
    position: absolute;
    width: 70px;
    left: 200px;
    top : 50px;
    height: 30px;
    padding: 8px;
    background-color: rgb(63, 52, 52);
    color: rgb(205, 215, 218);
    text-align: center;
}

#enter{
    position: absolute;
    width: 70px;
    left: 350px;
    top : 10px;
    height: 30px;
    padding: 8px;
    background-color: rgb(63, 52, 52);
    color: rgb(205, 215, 218);
    text-align: center;
}

#rst{
    position: absolute;
    width: 70px;
    left: 10px;
    top : 10px;
    height: 30px;
    padding: 8px;
    background-color: #4e4b48;
    color: rgb(205, 215, 218);
    text-align: center;
}

#tx{
    position: absolute;
    width: 70px;
    left: 200px;
    top : 10px;
    height: 30px;
    padding: 8px;
    background-color: rgb(63, 52, 52);
    color: rgb(205, 215, 218);
    text-align: center;
  }